<a href="https://colab.research.google.com/github/jaehyeon0520/Report_python/blob/main/Ch21_task_20250828_Report_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

안녕하세요. 수강생 여러분~! Chapter21 ~ 32 수업은 잘 들으셨나요?

Chapter21 ~ 32의 수업 내용을 바탕으로 아래 문제를 풀어주시면 됩니다.


<br>


[**답변 입력 방법**]

문제 아래에 있는 코드 입력창에 정답코드를 작성하신 후  __▷ 버튼을 클릭해 코드를 실행__ 해보세요<br>

---

[문제 1]
사용자로부터 이름과 나이를 입력 받아, "안녕하세요, [이름]님! 당신은 [나이]살입니다."라고 출력하는 함수 greet_user를 작성하세요.

In [26]:
def greet_user():
    name = input("이름을 입력하세요: ")
    age = input("나이를 입력하세요: ")
    print(f"안녕하세요, {name}님! 당신은 {age}살입니다.")

# 함수 실행
greet_user()

이름을 입력하세요: 홍길동
나이를 입력하세요: 20
안녕하세요, 홍길동님! 당신은 20살입니다.

---

[문제 2] 여러 숫자를 입력받아 그 합계를 반환하는 함수 sum_numbers를 작성하세요. 이 때, 가변 매개변수를 사용하세요.

In [27]:
def sum_numbers(*args):
    return sum(args)

# 사용 예시
print(sum_numbers(1, 2, 3))
print(sum_numbers(10, 20, 30, 40))

6
100

---

[문제 3] 사용자의 이름을 출력하는 함수 print_name을 작성하세요. 만약 이름이 주어지지 않았다면, 기본값으로 "익명"을 사용하세요.

In [28]:
def print_name(name="익명"):
    print(f"이름: {name}")

# 사용 예시
print_name("재현")
print_name()

이름: 재현
이름: 익명

---

[문제 4] 사용자의 이름, 나이, 성별을 출력하는 함수 print_info를 작성하세요. 이 때, 모든 매개변수는 키워드 매개변수로만 받도록 하세요.

In [29]:
def print_info(*, name, age, gender):
    print(f"이름: {name}")
    print(f"나이: {age}")
    print(f"성별: {gender}")

# 사용 예시
print_info(name="재현", age=25, gender="남성")

이름: 재현
나이: 25
성별: 남성

---

[문제 5] 두 개의 정수를 받아 합을 반환하는 함수 add를 작성하세요. 매개변수와 반환값에 타입 어노테이션을 추가하세요.

In [17]:
def add(a: int, b: int) -> int:
    return a + b

# 사용 예시
print(add(3, 5))

8

---

[문제 6] 0부터 시작하여 n까지의 숫자 중에서 홀수만 생성하는 제너레이터 odd_numbers를 작성하세요.

In [9]:
def odd_numbers(n: int):
    for i in range(n + 1):
        if i % 2 == 1:  # 홀수 판별
            yield i

# 사용 예시
for num in odd_numbers(10):
    print(num, end=" ")

1 3 5 7 9

---

[문제 7] 두 숫자를 더하는 람다 함수를 작성하고, 이를 변수에 할당한 후 사용하세요.

In [16]:
# 두 숫자를 더하는 람다 함수
add = lambda x, y: x + y

# 사용 예시
print(add(3, 5))
print(add(10, 20))

8
30

---

[문제 8] 사용자로부터 3개의 숫자를 입력받아, 이를 튜플로 만든 후 최소값과 최대값을 출력하는 함수 min_max를 작성하세요.

In [10]:
def min_max():
    # 사용자로부터 3개의 숫자 입력받기
    nums = tuple(int(input(f"{i+1}번째 숫자를 입력하세요: ")) for i in range(3))

    # 최소값과 최대값 출력
    print(f"입력한 숫자: {nums}")
    print(f"최소값: {min(nums)}")
    print(f"최대값: {max(nums)}")

# 함수 실행
min_max()

1번째 숫자를 입력하세요: 5
2번째 숫자를 입력하세요: 20
3번째 숫자를 입력하세요: 97
입력한 숫자: (5, 20, 97)
최소값: 5
최대값: 97

---

[문제 9] 주어진 숫자가 짝수인지 확인하는 함수 is_even을 작성하세요. 짝수라면 True를, 아니라면 False를 반환하세요. 함수 내에서 조기 리턴을 활용하세요.

In [14]:
def is_even(n: int) -> bool:
    if n % 2 == 0:
        return True   # 조기 리턴
    return False

# 사용 예시
print(is_even(4))
print(is_even(7))

True
False

---

[문제 10] 팩토리얼을 계산하는 재귀 함수 factorial을 작성하세요.

In [15]:
def factorial(n: int) -> int:
    if n == 0 or n == 1:   # 재귀 종료 조건 (base case)
        return 1
    return n * factorial(n - 1)  # 재귀 호출

# 사용 예시
print(factorial(5))
print(factorial(0))

120
1

---

[문제 11] 문자열 리스트를 받아, 각 문자열의 길이를 출력하는 함수 print_lengths를 작성하세요.

In [22]:
def print_lengths(strings: list[str]) -> None:
    for s in strings:
        print(f"'{s}'의 길이: {len(s)}")

# 사용 예시
words = ["apple", "banana", "cherry"]
print_lengths(words)

'apple'의 길이: 5
'banana'의 길이: 6
'cherry'의 길이: 6

---

[문제 12] 두 문자열을 받아서 긴 문자열을 반환하는 함수 longer_string을 작성하세요. 만약 두 문자열의 길이가 같다면, 첫 번째 문자열을 반환하세요.

In [24]:
def longer_string(s1: str, s2: str) -> str:
    if len(s1) >= len(s2):   # 길이가 같을 때도 첫 번째 문자열 반환
        return s1
    return s2

# 사용 예시
print(longer_string("apple", "banana"))
print(longer_string("cat", "dog"))

banana
cat